.footer {
  color: #999;
  height: 300px;
  width: 1600px;
  background-color: $dark-gray;
  margin-top: 48px;
}

.footer-box-container {
  display: flex;
  justify-content: space-around;
  height: 160px;
  padding: 45px 0px;
  text-align: left;
}

.footer-box-1,
.footer-box-2 {
  width: 25%;
}

.footer-box-2 span {
  margin-left: 34px;
}

div[class^="footer-box-"] span {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 600px;
  margin-bottom: 20px;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-bar {
  height: 20px;
  padding: 15px 0px;
  text-align: center;
}

.footer-banner {
  font-style: italic;
}
