.bar {
  display: block;
}

.nav-bar {

}

.utility-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 28px;
  padding: 0 36px;
}

.main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 54px;
  padding: 0 36px;
}

.button {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 3px;
  padding: 0px 16px;
  height: 32;
  cursor: pointer;
  line-height: 2rem;
}

.signin-button {
  color: #333;
  transition: color 300ms ease-out;
}

.signin-button:hover {
  color: black;
}

.signup-button,
.signout-button {
  font-size: 14px;
  color: white;
  background-color: $blue;
  transition: background-color 300ms ease-out;
}

.signup-button:hover,
.signout-button:hover {
  background-color: $blue-hover;
}

.user-dropdown {

}

.user-welcome {
  margin-right: 10px;
}

.logo-links > a {
  margin: 10px;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
}

.location-dropdown {
  color: #717171;
}

.fa-circle-o {
  font-size: 36px;
  color: $red;
}

.utility-links > a {
  color: #717171;
  font-size: 13px;
  margin: 10px;
}

.modal {
  margin: auto;
  max-width: 428px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
