// Colors
$light-gray: #f7f7f7;
$red: #da3743;
$red-hover: #b8222d;
$blue: #237b98;
$blue-hover: #1c627a;
$dark-gray: #333;

// Fonts
$font-stack: source-sans-pro, Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

//Images
$banner-image-url: "https://media.otstatic.com/img/start_hero_images/us-hero-1600-72df3ed5e8831716f08d799a95d3cabf.jpg";
$thumbnail-url: "https://resizer.otstatic.com/v2/profiles/legacy/147469.jpg";
$blank-restaurant-banner: "https://resizer.otstatic.com/v2/profiles/legacy/18133.jpg";
$search-index-banner: "https://media.otstatic.com/search-result-node/images/background-blur.0a50ba84.png";
$new-restaurant-splash: "https://restaurant.opentable.com/site/themes/us/img/257d875….jpg";
