.featured-areas {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
  border-radius: 5px;
  margin-left: 36px;
  width: 1208px;
}

.featured-areas h3 {
  color: #333;
  font-weight: 400;
  font-family: $font-stack;
  font-size: 1.5rem;
  line-height: 1.165;
  margin: 0;
  padding: 24px;
}

.location-boxes {
  display: flex;
  flex-wrap: wrap;
}

div [class^="location-box-"] {
  width: 33.33%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

div [class^="location-box-"] h4 {
  color: white;
  font-size: 24px;
  position: relative;
  text-shadow: rgba(0,0,0,.25) 0px 2px 2px;
  z-index: 1;
}

$location-images: $location-img-1 $location-img-2 $location-img-3
  $location-img-4 $location-img-5 $location-img-6;

@for $i from 1 through 6 {
  .location-box-#{$i} {
    background-image: url(nth($location-images, $i));
  }
}

.darken-pseudo {
  position: relative;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
}

.location-links {
  display: flex;
  padding: 30px 24px;
}

.location-col {
  width: 25%;
}

.location-col li {
  padding: 8px 0px;
}
