.restaurant-index {
  background-color: white;
}

.restaurant-index-list {
  max-width: 760px;
  margin: auto;
}

.restaurant-index-item {
  display: flex;
  flex: 2;
  flex-direction: row;
  padding: 0.875rem 0;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.restaurant-index-item-col-1 {
  width: 150px;
  height: auto;
}

.restaurant-index-item-col-2 {
  display: flex;
  flex: 5;
  flex-direction: column;
  padding-left: 2.5%;
}

.restaurant-index-item-thumbnail {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  // background-image: url($thumbnail-url);
}

.restaurant-index-item-name {
  color: $blue;
  font-size: 1.075rem;
  font-weight: 600;
  cursor: pointer;
}

.restaurant-index-item-name:hover {
  text-decoration: underline;
}

.restaurant-index-item-row-5 {
  font-weight: 600;
  font-size: 0.875rem;
  color: white;
  line-height: 1.2rem;
  padding: .3em .2em;
  background-color: $red;
  border-radius: 5px;
}

div[class=".restaurant-index-item-row-"] {

}

.restaurant-show-header {
  height: 204px;
  background: linear-gradient(to right, rgba(102, 102, 102, .9), rgba(51, 51, 51, .9));
}

.restaurant-show-profile {
  width: 1024px;
  position: relative;
  display: inline-block;
  padding: 80px 20px 32px 20px;
}

.restaurant-show-profile h1 {
  color: white;
  font-size: 2.25em;
}
