// Colors
$light-gray: #f7f7f7;
$red: #da3743;
$red-hover: #b8222d;
$blue: #237b98;
$blue-hover: #1c627a;
$dark-gray: #333;

// Fonts
$font-stack: source-sans-pro, Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

//Images
$banner-image-url: "https://media.otstatic.com/img/start_hero_images/us-hero-1600-72df3ed5e8831716f08d799a95d3cabf.jpg";
